/* Global Styles */
.login-page {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #fff7e6; /* Light golden color for the background */
    color: #333;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
  }
  
  .logo-section {
    margin-bottom: 20px;
    cursor: pointer; /* Make the section clickable */
  }
  
  .logo-section h2 {
    font-size: 2.5rem;
    color: #4CAF50;
  }
  
  .logo-section p {
    font-size: 1.2rem;
    color: #4CAF50;
    margin-top: 5px;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #4CAF50;
  }
  
  .login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff; /* White background for the form */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #45a049;
  }
  
  .success-message {
    color: green;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .error-message {
    color: red;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .login-links {
    margin-top: 15px;
    font-size: 1rem;
  }
  
  .forgot-password-link,
  .signup-link {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .forgot-password-link:hover,
  .signup-link:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 600px) {
    .login-form {
      padding: 15px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    h1 {
      font-size: 1.8rem;
    }
  
    .form-group input {
      font-size: 0.9rem;
      padding: 8px;
    }
  
    .login-button {
      font-size: 1rem;
      padding: 10px;
    }
  }
  .info-message {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
    text-align: center;
  }
  /* Add this to your login.css */
.back-to-login-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .back-to-login-link:hover {
    text-decoration: underline;
  }
  